{% extends 'base.html.twig' %}

{% block title %}Ajout d'un annuaire{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-9 shadow-lg rounded p-3">

            {{form_start(form)}}
            {{form_row(form.name)}}
            <div class="row">
                <div class="p-3 col-lg-6" id="management-fields-list">
                    <button type="button" class="btn btn-secondary field" onclick="addField('management');"><i class="fas fa-plus"></i></button>
                    <label>Rôles de gestion</label>
                    <div class="form-inline">
                        <div class="form-group mt-2">
                            {{form_widget(form.roles_management.vars.prototype)}}
                        </div>
                    </div>
                </div>

                <div class="p-3 col-lg-6" id="visibility-fields-list">
                    <button type="button" class="btn btn-secondary field" onclick="addField('visibility');"><i class="fas fa-plus"></i></button>
                    <label>Rôles de visibilité</label>
                    <div class="form-inline">
                        <div class="form-group mt-2">
                            {{form_widget(form.roles_visibility.vars.prototype)}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end mr-4">
                <input class="text-right btn btn-primary" type="submit" value="Valider">
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>

<script src="{{asset('js/field_management.js')}}"></script>

{% endblock %}